/* A port of the BetaVerse color theme currently used in UEFN with VSCode */

/* Lenka.TODO: We only override colors on dark theme since we don't have a verse light implementation yet, light mode will fallback to `pygments_style` (monokai) */

@media (prefers-color-scheme: dark) {

    /* VerseDark Variables */
    :root {
        /* Colors */
        --editor-lineHighlightBackground: #12002C;
        --editor-lineHighlightBorder: #12002C;
        --editor-background: #000000;
        --editor-foreground: #D4D4D4;
        --editor-inactiveSelectionBackground: #3A3D41;
        --editorIndentGuide-background: #404040;
        --editorIndentGuide-activeBackground: #707070;
        --editor-selectionHighlightBackground: #ADD6FF26;
        --list-dropBackground: #383B3D;
        --activityBarBadge-background: #007ACC;
        --sideBarTitle-foreground: #BBBBBB;
        --input-placeholderForeground: #A6A6A6;
        --settings-textInputBackground: #292929;
        --settings-numberInputBackground: #292929;
        --menu-background: #252526;
        --menu-foreground: #CCCCCC;
        --statusBarItem-remoteForeground: #FFF;
        --statusBarItem-remoteBackground: #16825D;

        /* TokenColors */
        /* Lenka.TODO: 
            --text should have FontStyle set to italic
            --markup-bold should have FontStyle set to bold
            --markup-heading should have FontStyle set to bold
        */
        --invalid: #f44747;
        --comment: #77B06B;
        --constant-language: #569cd6;
        --constant-numeric: #c2ddb4;
        --constant-regexp: #646695;
        --constant-character-escape: #B89047;
        --string: #C09077;
        --string-tag: #C09077;
        --string-value: #C09077;
        --string-regexp: #d16969;
        --text: #DFC79F;
        --keyword: #569cd6;
        --keyword-control: #569cd6;
        --keyword-operator: #77AFAF;
        --keyword-other-unit: #92a788;
        --entity-name-function: #e5c2ff;
        --variable: #b9d6ff;
        --path: #b9d6ff;
        --entity-name-tag: #6F77A6;
        --keyword-declaration: #8499b7;
        --punctuation-definition: #8499b7;
        --storage: #569CD6;
        --storage-type: #569CD6;
        --storage-modifier: #569CD6;
        --emphasis: "italic";
        --strong: "bold";
        --markup-underline: "underline";
        --markup-bold: #569cd6;
        --markup-heading: #569cd6;
        --markup-italic: "italic";
        --markup-inserted: #b5cea8;
        --markup-deleted: #ce9178;
        --markup-changed: #569cd6;
        --markup-inline-raw: #ce9178;
        --header: #000080;
        --meta-diff-header: #569cd6;
        --meta-preprocessor: #569cd6;
        --meta-preprocessor-string: #ce9178;
        --meta-preprocessor-numeric: #b5cea8;
    }

    /* Theme Overrides */
    [data-md-color-media="(prefers-color-scheme: dark)"]>*,
    [data-md-color-media="(prefers-color-scheme)"]>* {
        /* Color Overrides */
        /* --- Primary color shades */
        /* --md-primary-fg-color: hsla(#{hex2hsl($clr-indigo-500)}, 1);
        --md-primary-fg-color--light: hsla(#{hex2hsl($clr-indigo-400)}, 1);
        --md-primary-fg-color--dark: hsla(#{hex2hsl($clr-indigo-700)}, 1);
        --md-primary-bg-color: hsla(0, 0%, 100%, 1);
        --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7); */

        /* --- Accent color shades */
        /* --md-accent-fg-color: hsla(#{hex2hsl($clr-indigo-a200)}, 1);
        --md-accent-fg-color--transparent: hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
        --md-accent-bg-color: hsla(0, 0%, 100%, 1);
        --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7); */

        /* --- Default color shades */
        /* --md-default-fg-color: hsla(0, 0%, 0%, 0.87);
        --md-default-fg-color--light: hsla(0, 0%, 0%, 0.54);
        --md-default-fg-color--lighter: hsla(0, 0%, 0%, 0.32);
        --md-default-fg-color--lightest: hsla(0, 0%, 0%, 0.07);
        --md-default-bg-color: hsla(0, 0%, 100%, 1);
        --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
        --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
        --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12); */

        /* --- Code Highlighting */
        --md-code-hl-color: #2977ff;
        --md-code-hl-color--light: #2977ff1a;
        --md-code-hl-number-color: var(--constant-numeric);
        --md-code-hl-special-color: #f06090;
        --md-code-hl-function-color: var(--entity-name-function);
        --md-code-hl-constant-color: #9383e2;
        --md-code-hl-keyword-color: var(--variable);
        --md-code-hl-string-color: var(--string-value);
        --md-code-hl-name-color: var(--variable);
        --md-code-hl-operator-color: var(--punctuation-definition);
        --md-code-hl-punctuation-color: var(--punctuation-definition);
        --md-code-hl-comment-color: var(--comment);
        --md-code-hl-generic-color: var(--md-default-fg-color--light);
        --md-code-hl-variable-color: var(--md-default-fg-color--light);

        /* --- Code Block */
        /* --md-code-bg-color: var(--editor-background); */
        --md-code-bg-color: hsla(var(--md-hue), 15%, 18%, 1);
        --md-code-bg-color--light: hsla(var(--md-hue), 15%, 18%, 0.9);
        --md-code-bg-color--lighter: hsla(var(--md-hue), 15%, 18%, 0.54);
    }

    /* Style Overrides */
    .highlight {

        /* --- Specifiers */
        & .nd {
            color: var(--keyword-declaration);
        }

        & .nn,
        & .p {
            color: var(--constant-language);
        }

        /* --- Declaration Keywords */
        & .kd {
            color: var(--keyword-declaration);
        }

        /* --- nv */
        & .nv {
            color: var(--entity-name-function);
        }
    }
}